<td><strong>{{mandataris.isBestuurlijkeAliasVan.gebruikteVoornaam}} {{mandataris.isBestuurlijkeAliasVan.achternaam}}</strong></td>
<td>{{comite-aanstelling/artikel-1/afstand-selector mandataris=mandataris mandatarissen=mandatarissen}}</td>
<td>
  {{#wu-link-button class="button--alt button--small" isNarrow=true onClick=(action "remove")}}
    <i class="vi vi-cross vi-u-s"></i>Haal persoon uit lijst
  {{/wu-link-button}}
</td>
