<table class="data-table data-table--lined data-table--zebra u-spacer--top--tiny">
  <thead>
    <tr>
      <th>Plaats opvolging</th>
      <th>
        Officiële naam opvolger
      </th>
      <th>Start</th>
      <th>Einde</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedMandatarissen as |mandataris|}}
      {{comite-aanstelling/artikel-3/opvolgers/table-row mandataris=mandataris statusCodes=statusCodes}}
    {{/each}}
  </tbody>
</table>
