<h1> Beheer van personen</h1>
<h2>zoek persoon</h2>

<h2>Maak persoon aan </h2>
{{comite-aanstelling/create-person onCreate=(action "onCreatePerson") onCancel=(action "onCancelCreatePerson")}}



{{yield}}
