<li property="eli:has_part" resource={{articleUri}} typeof={{typeOf}}>
  <meta property="eli:language" resource="http://publications.europa.eu/resource/authority/language/NLD">
  {{yield this}}
</li>
