<p class="u-spacer--small">Beslist,</p>

{{#comite-aanstelling/output-article as |a|}}
   {{comite-aanstelling/artikel-1/output-rdfa articleUri=a.articleUri articleTypeof=a.typeof mandatarissen=mandatarissen}}
{{/comite-aanstelling/output-article}}

{{#comite-aanstelling/output-article as |a| }}
  <span property="eli:number">Artikel 2</span>
  <span property="prov:value">
    <p>Akte te nemen van:</p>
    <br>
    <p>Volgende voorgedragen kandidaten verkozen te verklaren als leden van het bijzonder comité voor de sociale dienst en akte te nemen van hun eedaflegging:</p>
    <ul>
      {{#each artikel2Mandatarissen as |mandataris|}}
        <li>
          {{comite-aanstelling/artikel-2/output-rdfa mandataris=mandataris mandatarissen=mandatarissen articleUri=a.articleUri articleTypeof=a.typeof}}
        </li>
      {{/each}}
    </ul>
  </span>
{{/comite-aanstelling/output-article}}

{{yield}}
